/*#sidebar-first,
#main,
#sidebar-second {
  float: left;
  display: inline;
  position: relative;
}
#sidebar-first,
#sidebar-second {
  width: 20%;
}
body.one-sidebar #main {
  width: 80%;
}
body.two-sidebars #main {
  width: 60%;
}
body.sidebar-first #main-squeeze {
  margin-left: 20px;
}
body.sidebar-second #main-squeeze {
  margin-right: 20px;
}
body.two-sidebars #main-squeeze {
  margin: 0 20px;
}
*/
#logo {
  float: left;
}

#name-and-slogan {
  float: left;
  padding-left: 20px;
}

#site-name {
  float: left;
}

/*.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
*/
